./build
.gas
gas*
Makefile
m4
bison
*.tar.gz
*.tar.xz
build/*
build

ant
autoconf
automake
bison
build
cmake
libtool
m4
meson
nasm
ninja
pkgconfig
protobuf
ragel
yasm
.ant
.autoconf
.automake
.meson
.nasm
.ninja
.pkg-config
.ragel
.yasm

apache-ant-1.9.7.tar.bz2
autoconf-2.69.tar.gz
automake-1.15.tar.gz
bison-3.0.4.tar.xz

cmake-3.13.1.tar.gz
libtool-2.4.2.tar.gz

m4-1.4.18.tar.gz
Makefile
meson-0.48.1.tar.gz
nasm-2.14.tar.gz
ninja-1.8.2.tar.gz
pkg-config-0.28-1.tar.gz
protobuf-3.1.0.tar.gz

ragel-6.10.tar.gz
yasm-1.2.0.tar.gz

*.tmp